:host {
  display: block;
}
.errors {
  &-message {
    @apply blink absolute left-0 text-xs font-semibold text-red-700;
  }
}

.label-valid {
  @apply flex justify-center text-start text-xs font-medium text-gray-500;
}

.label-invalid {
  @apply flex justify-center text-start text-xs font-medium text-red-700;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
