<div class="p-6 flex justify-center items-center">
  <div class="card w-96 bg-base-100 shadow-xl">
    <div class="card-body">
      <form [formGroup]="form">
      <div class="py-2">
        <input formControlName="kodeUnit" type="text" placeholder="Kode Unit" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="py-2">
        <input formControlName="namaUnit" type="text" placeholder="Nama Unit" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="py-2">
        <input formControlName="type" type="text" placeholder="Type" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="py-2">
        <input formControlName="akroUnit" type="text" placeholder="Akro Unit" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="py-2">
        <input formControlName="alamat" type="text" placeholder="Alamat" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="py-2">
        <input formControlName="telepon" type="text" placeholder="Telepon" class="input input-bordered w-full max-w-xs" />
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-neutral" type="button" (click)="onSubmit()">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>
