@keyframes dash {
	to {
		stroke-dashoffset: 234;
	}
}

@keyframes spinner {
	0% {
		top: 96px;
		left: 96px;
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		top: 18px;
		left: 18px;
		width: 156px;
		height: 156px;
		opacity: 0;
	}
}

.spinner div {
	z-index: 99;
	position: absolute;
	border-width: 4px;
	border-style: solid;
	opacity: 1;
	border-radius: 50%;
	animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.spinner div:nth-child(1) {
	border-color: #e90c59;
	animation-delay: 0s;
}

.spinner div:nth-child(2) {
	border-color: #46dff0;
	animation-delay: -0.5s;
}

.loadingio-spinner-ripple-y0by4actzt {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	background: transparent;
	position: fixed;
	/* to center it within the viewport */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
}

.spinner {
	width: 200px;
	height: 200px;
	position: relative;
	transform: translateZ(0) scale(1);
	backface-visibility: hidden;
	transform-origin: center center;
}

.spinner div {
	box-sizing: content-box;
}

.bg-transparent {
	background: transparent;
}
